{% extends "objects/index.html" %}

{% block title %}МПМ Былины. Добавить новый предмет в базу{% endblock %}

{% block page_title %} Добавить новый предмет {% endblock %}

{% block content %}


<p>Введите оригинальное описание из МАДа, просто скопировав вывод команды "опознать" или "характеристики".</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Добавить" />
</form>

{% if added %}
<p class="info">Добавлено:</p>
{% for obj in added %}
<br />
{% include "objects/object_short.html" %}
{% endfor %}
{% endif %}

<br />
{% if exists %}
<p class="info">Уже есть в базе:</p>
{% for obj in exists %}
<br />
{% include "objects/object_short.html" %}
{% endfor %}
{% endif %}

{% if obj %}
{% include "objects/object_desc.html" %}
{% endif %}

{% endblock %}
