{% extends "wiki/base.html" %}
{% load wiki_tags i18n sekizai_tags %}
{% load nvd3_tags %}
{% load seo %}

{% block wiki_pagetitle %}
    {% get_metadata as my_meta %}
    {% block title %}{{ my_meta.title.value }}{% endblock %}
{% endblock %}

{% block wiki_site_title %}{% endblock %}


{% block head %}

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    {% include_chart_jscss %}
    <script>
    function toggle(id) {
        var e = document.getElementById(id);
        if(e.style.display == 'block')
            e.style.display = 'none';
        else
            e.style.display = 'block';
    }
    </script>
    {% get_metadata as my_meta %}
    {{ my_meta.description }}
    {{ my_meta.keywords }}
{% endblock %}


{% block wiki_contents %}
    <div class="center">
        <div id="article-container">
        <ul class="nav nav-pills" id="article-menu">
        <li class="pull-left" id="article-title-li">
            <h1 id="article-title">
            {% block page_title %}
            {% endblock %}
            </h1>
        </li>
    
    {% block tab_menu %}
    {% endblock %}

    </ul>
      {% block wiki_contents_tab %}
       <div class="wiki-article">
        {% block content %}
        {% endblock %}
      </div>
      {% endblock %}

  </div>


    {% autoescape off %}
        {% for c in counters %}
            {{ c.body }}
        {% endfor %}
    {% endautoescape %}
    
{% endblock %}

