{% extends "objects/base.html" %}

{% block content %}
<form action="">
    <input type="text" name="name" value="{{ name }}"></input>
    <input type="submit" value="go"></input>
</form>
<table>
{% for obj in objects %}
    <tr>
        <td>{% include "objects/object_short.html" %}</td>
    </tr>
{% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if objects.has_previous %}
            <a href="?page={{ objects.previous_page_number }}"><<</a>
        {% endif %}

        <span class="current">
            {{ objects.number }} из {{ objects.paginator.num_pages }}
        </span>

        {% if objects.has_next %}
            <a href="?page={{ objects.next_page_number }}">>></a>
        {% endif %}
    </span>
</div>

{% endblock %}
