{% extends "objects/base.html" %}

{% block title %}
МПМ Былины. Список вещей
{% endblock %}

{% block menu %}
{% include "objects/menu.html" %}
{% endblock %}



{% block page_title %} Список вещей {% endblock %}


{% block tab_menu %}
    {% with tab_selected as selected %}
        <li class="pull-right{% if selected == "params" %} active{% endif %}">
        <a href="/objects/params/">
            <span class="hidden-xs">Подбор по параметрам</span>
        </a>
        </li>

        <li class="pull-right{% if selected == "shop" %} active{% endif %}">
        <a href="/objects/shop/">
            <span class="hidden-xs">Поиск по списку</span>
        </a>
        </li>

        <li class="pull-right{% if selected == "add" %} active{% endif %}">
        <a href="/objects/add/">
            <span class="hidden-xs">Добавить</span>
        </a>
        </li>

        <li class="pull-right {% if selected == "all" %} active{% endif %}">
        <a href="/objects/">
            <span class="hidden-xs">Вещи</span>
        </a>
        </li>
    {% endwith %}
{% endblock %}


{% block content %}
    <h2>Поиск по названию:</h2>
    <form action="">
        <div class="input-group">
            <input type="search" class="form-control search-query" name="name" placeholder="Введите название предмета..." value="{{ name }}"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="fa fa-search"></span>
                </button>
            </span>
        </div><!-- /input-group -->
    </form>
    
    
<table>
<tr><td>
<div class="pagination">
    <span class="step-links">
        {% if objects.has_previous %}
            <a href="?page={{ objects.previous_page_number }}"><<</a>
        {% endif %}

        <span class="current">
            {{ objects.number }} из {{ objects.paginator.num_pages }}
        </span>

        {% if objects.has_next %}
            <a href="?page={{ objects.next_page_number }}">>></a>
        {% endif %}
    </span>
</div>
</td></tr>

{% for obj in objects %}
    <tr>
        <td>{% include "objects/object_short.html" %}</td>
    </tr>
{% endfor %}
<tr><td>
<div class="pagination">
    <span class="step-links">
        {% if objects.has_previous %}
            <a href="?page={{ objects.previous_page_number }}"><<</a>
        {% endif %}

        <span class="current">
            {{ objects.number }} из {{ objects.paginator.num_pages }}
        </span>

        {% if objects.has_next %}
            <a href="?page={{ objects.next_page_number }}">>></a>
        {% endif %}
    </span>
</div>
</td></tr>
</table>
{% endblock %}
