{% extends "objects/base.html" %}

{% block title %}МПМ Былины. Предмет: {{ obj.name }}{% endblock %}

{% block menu %}
{% include "objects/menu.html" %}
{% endblock %}


{% block content %}

<div class="ocontainer">
<div class="oleft">
<h2>Предмет:</h2>
{% include "objects/object_desc.html" %}

<br />
<br />
<a href="#" onclick=toggle("correct_form") class="error">Ошибка в описании? Нажмите сюда.</a>

<div id="correct_form" style="display:none;">
<p>Введите оригинальное описание из МАДа, просто скопировав вывод команды "опознать" или "характеристики". Правильный предмет будет добавлен в базу.</p>
<form method="post" action="/objects/add/">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Исправить" />
</form>
</div>

{% if user.is_superuser %}
<br />
<br />
<h2>Оригинальное описание:</h2>
<br />
{{ obj.mud_desc|linebreaksbr }}
{% endif %}
</div>
<div class="oright">

<h2>Возможные зоны где попится:</h2>
<ul>
{% for z in obj.zones.all %}
<li><a href="/zones/zone/{{z.pk}}/">{{z.name}}</a></li>
{% endfor %}
</ul>
{% comment %}
<br />
<h2>Комментарий:</h2>
<a href="#" onclick=toggle("comment_form") class="error">Редактировать.</a>
<span>{{obj.comment|markdown}}</span>
<br />
<div id="comment_form" style="display:none;width:auto;">
<p>Описание предмета. Где он попится, для чего лучше использовать и т.д., например как <a href="http://mudportal.ru/objects/obj/748/">тут</a>. По возможности использовать ссылки на <a href="http://mudportal.ru/w/">MUDWiki</a>. Можно использовать язык разметки <a href="http://ru.wikipedia.org/wiki/Markdown">Markdown</a>.</p>
<form method="post" action="/objects/comment/">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="Сохранить" />
</form>

</div>
{% endcomment %}

{% endblock %}
