<h2>{{ obj.name }}</h2>

Предмет "<span class="obj_name">{{ obj.name }}</span>", тип : <span class="obj_type">{{ obj.type.name }}</span>
<br />

{% if obj.wear.all|length > 0 %}
{% for w in obj.wear.all %}
Можно надеть на <span class="yellow">{{ w }}</span>.
<br />
{% endfor %}
{% endif %}

{% if obj.weapon %}
Принадлежит к классу "<span class="">{{ obj.weapon.name }}</span>".
<br />
{% endif %}

{% if obj.take_left > -1 %}
Можно взять в <span class="yellow">левую руку{% if obj.take_left > 0 %} (требуется {{ obj.take_left }} силы){% endif %}</span>.
<br />
{% endif %}
{% if obj.take_right > -1 %}
Можно взять в <span class="yellow">правую руку{% if obj.take_right > 0 %} (требуется {{ obj.take_right }} силы){% endif %}</span>.
<br />
{% endif %}
{% if obj.take_both > -1 %}
Можно взять в <span class="yellow">обе руки{% if obj.take_both > 0 %} (требуется {{ obj.take_both }} силы){% endif %}</span>.
<br />
{% endif %}


Вес: {{ obj.weight }}, Цена: {{ obj.cost }}, Рента: {{ obj.cost_per_day_on }}({{ obj.cost_per_day_off }})
<br />
Материал : <span class="obj_material">{{ obj.material }}</span>
<br />
Неудобен : {{ obj.no_use.all|join:", " }}
<br />
Недоступен : {{ obj.no_avail.all|join:", " }}
<br />
Имеет экстрафлаги: <span class="obj_extra">{{ obj.extra.all|join:", " }}</span>
<br />

{% if obj.capacity > -1 %}
Максимально вместимый вес: {{ obj.capacity }}.
<br />
{% endif %}

{% if obj.dmg_str %}
Наносимые повреждения '{{ obj.dmg_str }}' среднее {{ obj.dmg_avg }}.
<br />
{% endif %}

{% if obj.ac != None %}
защита (AC) : <span class="obj_ac">{{ obj.ac }}</span>
<br />
{% endif %}

{% if obj.armor != None %}
броня&nbsp; &nbsp; &nbsp; &nbsp;: <span class="obj_armor">{{ obj.armor }}</span>
<br />
{% endif %}

{% if obj.spell != None %}
содержит заклинание&nbsp;: "<span class="obj_spell">{{ obj.spell }}</span>"
<br />
{% endif %}

{% if obj.recipe != None %}
содержит рецепт отвара&nbsp;: "<span class="obj_spell">{{ obj.recipe }}</span>"
<br />
{% endif %}


Накладывает на вас аффекты: <span class="obj_affect">{{ obj.affects.all|join:", "}}</span>
<br />

{% if obj.prop.all|length > 0 %}
Дополнительные свойства :
{% for p in obj.prop.all %}
<br />
&nbsp; &nbsp; &nbsp; &nbsp; <span class="obj_prop">{{ p }}</span>
{% endfor %}
{% endif %}
