{% if obj.bad %}
Предмет помечен как предмет с ошибками!
{% endif %}
<a class="obj_name" href="/objects/obj/{{ obj.pk }}/">{{ obj.name }}</a>
(
<span class="obj_type">{{ obj.type }}, вес: {{ obj.weight }}</span>
{% if obj.weapon %}
"<span class="obj_type">{{ obj.weapon.name }}</span>"
{% endif %}
{% if obj.dmg_str %}
<span class="obj_ac">{{ obj.dmg_str }} ({{ obj.dmg_avg }})</span>
{% endif %}
{% if obj.affects.count %}
<span class="obj_affect">{{ obj.affects.all|join:", " }}</span>
{% endif %}
{% if obj.extra.count %}
<span class="obj_extra">{{ obj.extra_clean|join:", " }}</span>
{% endif %}
{% if obj.ac > 0 %}
<span class="obj_ac">AC: {{ obj.ac }}</span>
{% endif %}
{% if obj.spell != None %}
<span class="obj_spell">"{{ obj.spell }}"</span>
{% endif %}
{% if obj.recipe != None %}
<span class="obj_spell">"{{ obj.recipe }}"</span>
{% endif %}
{% if obj.prop.count %}
<span class="obj_prop">{{ obj.prop.all|join:", " }}</span>
{% endif %}
)
{% if obj.zones.count %}
(
<span class="obj_ac">{{ obj.zones.all|join:", " }}</span>
)
{% endif %}

