{% extends "objects/index.html" %}

{% block title %}
МПМ Былины. Поиск предметов по списку
{% endblock %}


{% block page_title %} Поиск по списку {% endblock %}

{% block content %}
<form method="post" action="">
    {% csrf_token %}

{% if user.is_superuser %}
<p>Сформировать список: <input type="text" name="list"></input></p>
{% endif %}

    <p>Чтобы найти по списку просто вставьте вывод из базара, магазина или инвентаря.</p>
    <p><textarea cols="100" rows="10" name="data">{{ data }}</textarea></p>
    <p><input type="submit" value="найти"></input></p>
</form>

<h2>Найдено: {{ objs.good|length }}</h2>

<table>
{% for obj in objs.good %}
<tr><td>
{% include "objects/object_short.html" %}
</td></tr>
{% endfor %}
</table>

<h2>Не найдено: {{ objs.bad|length }}</h2>
<br />
{% if objs.bad %}
<h2>Команда для опознования: {{ objs.command }}</h2>
<br />
{% endif %}

<table>
{% for obj in objs.bad %}
<tr><td>
<span class="obj_bad">{{ obj }}</span>
</td></tr>
{% endfor %}
</table>

{% endblock %}
