{% extends "objects/base.html" %}
{% load nvd3_tags %}

{% block head %}
    {% load_chart charttype chartdata "container" True td %}
{% endblock %}

{% block title %}МПМ Былины. Статистика онлайн: {{ title }}{% endblock %}

{% block menu %}
{% include "objects/menu.html" %}
{% endblock %}


{% block content %}
<h2>Графики за
<a href="/core/charts/day/">сутки</a>/<a href="/core/charts/month/">месяц</a>.
</h2>
<h2>Онлайн {{ title }} ({{ desc }}):</h2>
<div class="chart">
    {% include_container "container" 400 600 %}
</div>
{% endblock %}
