{% extends "objects/base.html" %}


{% block menu %}
{% include "objects/menu.html" %}
{% endblock %}


{% block page_title %} Новости {% endblock %}

{% block content %}


{%if news.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if news.has_previous %}
            <a href="?page={{ news.previous_page_number }}"><<</a>
        {% endif %}

        <span class="current">
            {{ news.number }} из {{ news.paginator.num_pages }}
        </span>

        {% if news.has_next %}
            <a href="?page={{ news.next_page_number }}">>></a>
        {% endif %}
    </span>
</div>
{% endif %}

<hr/>
{% for n in news %}
{% include "core/single_news.html" %}
<hr/>
{% endfor %}


{%if news.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if news.has_previous %}
            <a href="?page={{ news.previous_page_number }}"><<</a>
        {% endif %}

        <span class="current">
            {{ news.number }} из {{ news.paginator.num_pages }}
        </span>

        {% if objects.has_next %}
            <a href="?page={{ news.next_page_number }}">>></a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}
